

:root {
    --blue-100: hsl(225, 100%, 94%);
    --blue-200: hsl(225, 100%, 98%);
    --blue-300: hsl(245, 75%, 52%);
    --blue-400: hsl(224, 23%, 55%);
    --blue-500: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Text", serif;
}

body {
    background-color: var(--blue-100);
    position: relative;
    display: flex;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.background {
    position: absolute;
    object-fit: cover;
    width: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: -1;
}
.container {
   
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-200);
    width: fit-content;
    text-align: center;
    border-radius: 8px;
    z-index: 1;
   
}
.heroimg {
    width: 100%;
    
}

.content {
    padding: 12px;
    align-items: center;
    justify-content: center;
}
.about {
    padding: 2px;
    margin-top: 12px;
}

.trans {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: var(--blue-100);
    border-radius: 8px;
    margin-top: 12px;
}
.plan {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
}

.icon {
    height: 32px;
    width: 32px;
}

section {
    margin-top: ;
}

button {
    width: 100%;
    margin-top: 12px;
    display: block;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.pay {
    width: 100%;
    background-color: var(--blue-300);
    border: none;
    border-radius: 8px;
    color: var(--blue-100);
    box-shadow: var();
}

.cancel {
    background-color: var(--blue-200);
    color: var(--blue-400);
    cursor: pointer;
}